ul {
  padding: 0;
  list-style-type: upper-roman;
}
h2 { margin: 8px 0 8px 12px; }
span {
  font-size: 0.67em;
  color: #777777;
  margin: 0;
}

.essayname {
  margin: 16px 16px 12px;
  font-size: 1.5em;
  text-align: center;
}

hr { margin-top: 12px }
.hardborder {
  margin: 10px auto;
  border-color:white;
}
.shortline {
  margin: 16px auto 0px auto;
  width: 75%;
  border-color: white;
}

.transrights {
  background-image: -webkit-linear-gradient(left, #5BCEFA, #F5A9B8, #FFFFFF, #F5A9B8, #5BCEFA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
}